<div class="col-md-3 day">
    <h4>{{day}}</h4>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let food of foods">{{food}}</li>
            
        </ul>
    </div>
    <div class="row">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <input 
                    type="text" 
                    class="form-control"
                    id="food" 
                    name="food" 
                    ngModel
                    required
                    #food="ngModel">
                <button class="btn btn-success"
                        [disabled]="!f.valid">Добавить</button>
            </div>
        </form>
    </div>
</div>