<div class="col-md-3 day" style="height: 200pt">
    <h4>{{day}}</h4>

    <div class="row">
        <ul class="list-group">
            <!--TODO: Delete Recipe on Click-->
            <li class="list-group-item" *ngFor="let food_id of food_ids; let i = index">
                {{ getName(food_id) }}
                <span class="pull-right">
                    <span class="glyphicon glyphicon-random action" (click)="randomFood(i)"></span>
                    <span class="glyphicon glyphicon-remove action" (click)="deleteFood(i)"></span>
                </span>
            </li>

        </ul>
    </div>

    <div class="row">
        <button type="button" *ngIf="!isAdding" (click)="isAdding=!isAdding" class="btn btn-block btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <form *ngIf="isAdding">
            <div class="form-group">
                <ng2-completer name="food" [inputClass]="'form-control'" [(ngModel)]="food" [datasource]="recipes" [minSearchLength]="0" [clearSelected]="true" (selected)="onRecipeSelected($event)">
                </ng2-completer>

                <button class="btn btn-danger" (click)="isAdding=!isAdding">Cancel</button>
            </div>

        </form>
    </div>
</div>