<!--<app-day 
  *ngFor="let day of days"
  [day]="dayNames[day]"
  [code]="day"></app-day>-->
<div class="row">
    <app-day [day]="'Понедельник'" [code]="'mon'"></app-day>
    <app-day [day]="'Вторник'" [code]="'tue'"></app-day>
    <app-day [day]="'Среда'" [code]="'wed'"></app-day>
    <app-day [day]="'Четверг'" [code]="'thu'"></app-day>
</div>
<div class="row">
    <div class="col-md-offset-2">
        <app-day [day]="'Пятница'" [code]="'fri'"></app-day>
        <app-day [day]="'Суббота'" [code]="'sat'"></app-day>
        <app-day [day]="'Воскресенье'" [code]="'sun'"></app-day>
    </div>
</div>